.reveal p
{
  font-size: 30px;
  text-align: justify;
}

.reveal li
{
  font-size: 30px;
  line-height: 1.25em;
}

.reveal pre
{
  font-size: 25px;
}

.reveal div.prompt
{
  font-size: 25px;
}

.reveal div.output_area
{
  font-size: 27px;
}

.reveal div.output_area pre
{
        padding-top: 3px;
}

.reveal .highlight
{
  font-size: 25px;
}

.reveal h3
{
  font-size: 40px;
}

.reveal h2
{
  font-size: 50px;
}

.reveal h1
{
  font-size: 60px;
}